xep-0000-SN-Interoperability.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema
    xmlns:xs='http://www.w3.org/2001/XMLSchema'
    targetNamespace='urn:xmpp:sn:interoperability'
    xmlns='urn:xmpp:sn:interoperability'
    elementFormDefault='qualified'>

	<xs:element name='getInterfaces'>
		<xs:complexType/>
	</xs:element>

	<xs:element name='getInterfacesResponse'>
		<xs:complexType>
			<xs:sequence minOccurs='0' maxOccurs='unbounded'>
				<xs:element name='interface'>
					<xs:complexType>
						<xs:attribute name='name' type='xs:string' use='required'/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
 
</xs:schema>